body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:276px;
}
#u2989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#868686;
}
#u2989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:310px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
}
#u2990_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u2991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:32px;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:400px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
}
#u2991_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:378px;
  word-wrap:break-word;
}
#u2992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:296px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
}
#u2992_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:274px;
  word-wrap:break-word;
}
#u2993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:32px;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:0px;
  width:306px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:left;
}
#u2993_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:284px;
  word-wrap:break-word;
}
#u2994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:40px;
  height:44px;
  font-size:12px;
  color:#66CCFF;
}
#u2994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:44px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:32px;
  width:310px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u2995_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:288px;
  word-wrap:break-word;
}
#u2996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:32px;
  width:400px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u2996_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:378px;
  word-wrap:break-word;
}
#u2997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:44px;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:32px;
  width:296px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u2997_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:274px;
  word-wrap:break-word;
}
#u2998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:44px;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:32px;
  width:306px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1AABA8;
  text-align:left;
}
#u2998_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:284px;
  word-wrap:break-word;
}
#u2999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:40px;
  height:40px;
  font-size:12px;
  color:#66CCFF;
}
#u2999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:76px;
  width:310px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3000_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u3001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:76px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3001_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:378px;
  word-wrap:break-word;
}
#u3002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:76px;
  width:296px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3002_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u3003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:76px;
  width:306px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1AABA8;
  text-align:left;
}
#u3003_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:284px;
  word-wrap:break-word;
}
#u3004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:40px;
  height:40px;
  font-size:12px;
  color:#66CCFF;
}
#u3004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:116px;
  width:310px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3005_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u3006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:116px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3006_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:378px;
  word-wrap:break-word;
}
#u3007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:116px;
  width:296px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3007_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u3008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:116px;
  width:306px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1AABA8;
  text-align:left;
}
#u3008_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:284px;
  word-wrap:break-word;
}
#u3009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:40px;
  height:40px;
  font-size:12px;
  color:#66CCFF;
}
#u3009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:156px;
  width:310px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3010_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u3011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:156px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3011_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:378px;
  word-wrap:break-word;
}
#u3012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:156px;
  width:296px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3012_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u3013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:156px;
  width:306px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1AABA8;
  text-align:left;
}
#u3013_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:284px;
  word-wrap:break-word;
}
#u3014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:40px;
  height:40px;
  font-size:12px;
  color:#66CCFF;
}
#u3014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u3015 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:196px;
  width:310px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3015_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u3016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:196px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3016_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:378px;
  word-wrap:break-word;
}
#u3017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:196px;
  width:296px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3017_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u3018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
}
#u3018 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:196px;
  width:306px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1AABA8;
  text-align:left;
}
#u3018_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:284px;
  word-wrap:break-word;
}
#u3019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:40px;
  height:40px;
  font-size:12px;
  color:#66CCFF;
}
#u3019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u3020 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:236px;
  width:310px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3020_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u3021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:236px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3021_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:378px;
  word-wrap:break-word;
}
#u3022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
}
#u3022 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:236px;
  width:296px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:left;
}
#u3022_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:274px;
  word-wrap:break-word;
}
#u3023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
}
#u3023 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:236px;
  width:306px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1AABA8;
  text-align:left;
}
#u3023_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:284px;
  word-wrap:break-word;
}
#u3024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3025 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:50px;
  width:18px;
  height:18px;
}
#u3025_img.selected {
}
#u3025.selected {
}
#u3025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3026 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:90px;
  width:18px;
  height:18px;
}
#u3026_img.selected {
}
#u3026.selected {
}
#u3026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:132px;
  width:18px;
  height:18px;
}
#u3027_img.selected {
}
#u3027.selected {
}
#u3027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3028 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:170px;
  width:18px;
  height:18px;
}
#u3028_img.selected {
}
#u3028.selected {
}
#u3028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:210px;
  width:18px;
  height:18px;
}
#u3029_img.selected {
}
#u3029.selected {
}
#u3029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:250px;
  width:18px;
  height:18px;
}
#u3030_img.selected {
}
#u3030.selected {
}
#u3030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3031 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:18px;
  height:18px;
}
#u3031_img.selected {
}
#u3031.selected {
}
#u3031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:285px;
  width:32px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u3033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6B6B6B;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:285px;
  width:32px;
  height:32px;
  font-size:14px;
  color:#6B6B6B;
}
#u3034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:285px;
  width:32px;
  height:32px;
  font-size:12px;
  color:#6B6B6B;
}
#u3035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:285px;
  width:32px;
  height:32px;
  font-size:12px;
  color:#6B6B6B;
}
#u3036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:285px;
  width:32px;
  height:32px;
  font-size:12px;
  color:#6B6B6B;
}
#u3037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:285px;
  width:32px;
  height:32px;
  font-size:12px;
  color:#6B6B6B;
}
#u3038_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:285px;
  width:42px;
  height:32px;
  font-size:12px;
  color:#6B6B6B;
}
#u3039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:38px;
  word-wrap:break-word;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:290px;
  width:32px;
  height:24px;
}
#u3040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:293px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u3041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:285px;
  width:32px;
  height:32px;
  font-size:12px;
  color:#6B6B6B;
}
#u3042_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:285px;
  width:50px;
  height:32px;
}
#u3043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3043_input:disabled {
  color:grayText;
}
#u3044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:293px;
  width:146px;
  height:16px;
}
#u3044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u3045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:293px;
  width:15px;
  height:16px;
}
#u3045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
